/*.flexContainer {*/
/*  composes: sideBySideCenter from 'styles/util.module.css'*/
/*}*/

.text {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
}

.title {
  text-align: center;
  font-size: calc(var(--display) * 0.6);
  font-weight: 900;
  letter-spacing: 0.15rem;
}

.subtitle {
  text-align: center;
  font-size: var(--small-heading2);
}

.image {
  width: 100%;
}

@media (min-width: 768px) {
  .image {
    width: 50%;
  }
}
